<!DOCTYPE html>

<html>
  <head>
      <title> What You Do Not Eat </title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
      <%= csrf_meta_tags %>


  </head>

  <body>
      <div class="nav_bar">
        <ul class="menu">
          <li><%= link_to "Home", root_path, :class => "list" %></li>
          <li><%= link_to "Profiles", profiles_path, :class => "list" %></li>
          <li><%= link_to "Posts", posts_path, :class => "list" %></li>
          <li><%= link_to "Foods Avoided", foods_path, :class => "list" %></li>
          <li><%= link_to "Reasons To Avoid a Food", reasons_path, :class => "list" %></li>
          <li><%= link_to "When Foods Are Avoided", periods_path, :class => "list" %></li>
        </ul>
      </div>

      <div class="content">
        <%= yield %>
      </div>

  </body>

</html>
