<%= form_for @profile do |f| %>

  <div>
    <%= f.label       :name %>
    <%= f.text_field  :name %>
  </div>

  <div>
    <%= f.hidden_field :user_id %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
