<h1>Post</h1>



<h1><%= @post.title %> </h1>



  <%= @post.content %></li>


<div class="post_actions">
	<a href="/posts/<%= @post.id %>/edit">Edit</a> <%= button_to("Delete", post_path(@post), :method => :delete) %>
</div>


<%= link_to 'All Posts', posts_path %>
